@page
@using MB.Domain.CommentAgg;
@model MB.Presentation.MVCCore.Areas.Admin.Pages.CommnetManagement.ListModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="float-left">Comment List</h3>
        <div class="float-right">
            <a class="btn btn-success" asp-page="./Create" asp-area="Admin">Add New</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>ArtId</th>
                    <th>Name Art</th>
                    <th>Message</th>
                    <td>Send Message</td>
                    <th>Status</th>
                    <th>Operations</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var list_com in Model.comment)
                {
                    <tr>
                        <td>@list_com.Id</td>
                        <td>@list_com.Name</td>
                        <td>@list_com.Email</td>
                        <td>@list_com.ArtId</td>
                        <td>@list_com.Art</td>
                        <td>@list_com.Message</td>
                        <td>@list_com.SendMessage</td>
                        @if (list_com.Status == Statuses.New)
                        {
                            <td>New</td>
                        }
                        @if (list_com.Status == Statuses.Confrimed)
                        {
                            <td>Confrimed</td>
                        }
                        @if (list_com.Status == Statuses.Canceled)
                        {
                            <td>Canceled</td>
                        }
                        <td>
                            @if (list_com.Status == 0 || list_com.Status == Statuses.Canceled)
                            {
                                <form method="post" asp-page-handler="Confrimed" class="float-left">
                                    <button class="btn btn-danger">Confrim</button>
                                    <input type="hidden" name="id" value="@list_com.Id" />
                                </form>

                            }
                            @if (list_com.Status == Statuses.Confrimed)
                            {


                                <form method="post" asp-page-handler="Canseled" class="float-left">
                                    <button class="btn btn-danger">Cancel</button>
                                    <input type="hidden" name="id" value="@list_com.Id" />
                                </form>

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
