@page
@model MB.Presentation.MVCCore.Areas.Admin.ArtCategoryMangement.ListModel
@{
}

<h1>List</h1>

<div class="card">
    <div class="card-header">
        <h3 class="float-left">Article Category List</h3>
        <div class="float-right">
            <a class="btn btn-success" asp-page="./Create" asp-area="Admin">
                Add New Art Category
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>CreationDate</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var list in Model.ArtCategoryViewModels)
                {
                    <tr>
                        <td>@list.Id</td>
                        <td>@list.Title</td>
                        @if (@list.IsDelete == false)
                            {
                            <td>No</td>
                            }
                            else
                            {
                            <td>Yes</td>
                            }

                        <td>@list.CreateDate</td>
                        <td>
                            <div style="display: flex;">
                                <a style="margin-right:8px;" class="btn btn-dark" asp-page="./Edit" asp-route-id="@list.Id">Edit</a>
                                @if (list.IsDelete)
                                {
                                    <form method="post" asp-page-handler="Activate">
                                        <input type="hidden" name="id" value="@list.Id">
                                        <button type="submit" class="btn btn-success">Active</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-page-handler="Delete">
                                        <input type="hidden" name="id" value="@list.Id">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>    

    </div>
</div>